<div id="chat">
    <div id="chatbox">
        <ul id="messages"></ul>
    </div>

    <form action="/" method="POST" id="chatForm">
        <input id="txt" autocomplete="off" autofocus="on" oninput="isTyping()"
            placeholder="type your message here..." /><button>Send</button>
    </form>
</div>