<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{title}}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="/css/style.css" rel="stylesheet">
  <script src="/js/jquery.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
</head>

<body>
  <div id="nav-bar">
    <div id="nav-name">
      <a href="#">ANDREW LIU</a>
      <a href="mailto:aliu@lediur.com" id="email">
        <i class="fas fa-envelope"></i>
      </a>
    </div>
    <ul id="nav">
      <li>
        <a href="#about" id="about-but">ABOUT</a>
      </li>

      <!-- <li>
                <a href="#gallery" id="gallery">GALLERY</a>
            </li> -->

      <li>
        <a href="projects.html" id="projects">PROJECTS</a>
      </li>

      <li>
        <a href="experiences.html" id="experiences">EXPERIENCES</a>
      </li>
    </ul>
  </div>
  {{{body}}}

  <script src="/js/script.js"></script>
</body>

</html>