#nav-bar {
  background-color: transparent;
  padding: 10px 15px;
  width: 100%;
  z-index: 1000;
  /* font-size: 1em; */
}

#nav-bar-nofix {
  background-color: transparent;
  padding: 10px 15px;
  width: 100%;
  z-index: 1000;
  /* font-size :1.13em; */
}

#nav-bar:hover {
  animation: darken-nav 0.5s forwards;
}

@keyframes darken-nav {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(255, 86, 86, 0.1);
  }
}

#nav {
  display: inline-flex;
  list-style: none;
  justify-content: flex-end;

  margin: 0 0;
  width: 100%;
  padding-right: 2%;
}

#nav-name {
  position: absolute;
  float: left;
}

#nav-name > a {
  color: black;
  text-decoration: none;

  font-weight: bold;
}

#nav > li {
  padding-left: 2%;
}

#nav > li > a {
  color: black;
  text-decoration: none;

  padding: 5% 12% 7%;
  white-space: nowrap;
}

#nav > li > a:hover {
  border-radius: 6px;
  animation: fadein 0.5s forwards;
}

@keyframes fadein {
  0% {
    background-color: transparent;
    color: black;
  }
  100% {
    color: gainsboro;
    background-color: cornflowerblue;
  }
}
#chat-flex {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
  margin: 3% 0 10% 0;
}
#chat {
  display: inline-flex;
  flex-direction: column;
  width: 60%;
}
#txt {
  width: 90%;
  /* margin:0 0 0 10%; */
  position: bottom;
}
#chatForm > button {
  width: 10%;
}

#chatbox {
  background-color: rgb(230, 241, 243);
  border-width: 1px;
  border-color: rgb(99, 99, 99);
  border-style: solid;
  height: 27rem;
}

#rps-options {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 0;
  margin-bottom: 0;
}

.rps-option {
  list-style-type: none;
  flex-grow: 1;
}

.rps-option > button {
  width: 100%;
}

#userlist {
  display: inline-flex;
  flex-direction: column;
  /* justify-content: center; */

  width: 20%;
  background-color: gainsboro;
  border-style: solid;
  margin-left: 5px;
  padding: 10px;
  border-width: 1px;
}

#userlist-title {
  width: 100%;
  font-weight: bold;
  text-align: center;
}

#userlist-users {
  display: inline-flex;
  flex-direction: column;

  list-style-type: none;
  padding: 0;
}

/* login page */
#login-flexbox {
  display: flex;
  justify-content: center;

  width: 100%;
}

#login-box {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-style: solid;
  border-width: 1px;
  border-color: rgb(99, 99, 99);
  border-radius: 10px;

  background-color: rgb(230, 241, 243);
  padding: 2em 2em;

  width: 50%;
  height: 400px;
}

.login-label {
  padding: 0.3em 0 0.2em;

  font-weight: bold;
  font-size: 1.4em;
}

#login-form {
  width: 100%;
}
#loginuser {
  width: 100%;
}
#loginpass {
  width: 100%;
}

#submit-align {
  display: flex;
  justify-content: center;

  width: 100%;
  padding: 1em;
}

#login-recovery {
  padding-bottom: 0.3em;
}

#login-recuser {
  padding-right: 1em;
}

/* error box */
#error {
  display: flex;
  justify-content: center;

  border-style: solid;
  border-radius: 10px;

  background-color: red;

  color: white;
  font-weight: bold;

  width: 50%;
  margin: 2% 25%;
}

/* registration box */
#register-flexbox {
  display: flex;
  justify-content: center;

  width: 100%;
  padding: 3%;
}

#register-box {
  display: inline-flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  border-style: solid;
  border-width: 1px;
  border-color: rgb(99, 99, 99);
  border-radius: 10px;

  background-color: rgb(230, 241, 243);
  padding: 2em 2em;

  width: 50%;
  height: 400px;
}

.register-label {
  padding: 0.3em 0 0.2em;

  font-weight: bold;
  font-size: 1.4em;
}

#register-form {
  width: 100%;
}

#register-recovery {
  padding-bottom: 0.3em;
}

#register-recuser {
  padding-right: 1em;
}

.reg-input {
  width: 100%;
}

#leaderboard-flexbox {
  display: flex;
  justify-content: center;
  padding: 3%;
}

#leaderboard {
  display: inline-flex;
  flex-direction: column;

  align-items: flex-start;

  border-style: solid;
  border-width: 1px;
  border-color: rgb(99, 99, 99);
  border-radius: 10px;

  background-color: rgb(230, 241, 243);
  padding: 2em 2em;

  width: 50%;
  height: 600px;
}

#leaderboard-type {
  text-align: center;
  width: 100%;
}

.list-item-row {
  display: inline-flex;
  flex-direction: row;
}

#leaderboard-list {
  padding-left: 0;
  list-style-type: decimal;
  width: 100%;
}

.list-item-row {
  list-style-type: none;
  width: 100%;
}

.list-item-row-left {
  position: sticky;
  right: 100%;
}

.list-item-row-right {
  position: sticky;
  left: 65%;
}

#leaderboard-page {
  position: sticky;
  top: 100%;
  padding: 0;
  width: 100%;
}
#leaderboard-page-list {
  display: inline-flex;
  flex-direction: row;
  list-style-type: none;

  width: 100%;
  padding: 0;

  justify-content: center;
}

.leaderboard-page-buttons {
  padding: 0 5px;
}
